
button {
    height: 30px;
    margin: 12px auto;
    width: 100px;
}

h2 {
    margin: 12px auto;
}

input {
    margin: 12px auto;
    height: 27px;
}

.container {
    background-color: #29a66c;
    display:flex;
    flex-direction: column;
    height: 30vh;
    margin: 100px auto 0px auto;
    max-width: 200px;
    padding: 2px;    
    position: relative;
}

.item {
    flex-grow: 1;
    display:flex; 
    align-items:center;
}
